﻿@using CurrentDay.Repositories

@{
    ViewData["Title"] = "CustomDateTime";

    <h1>CustomDateTime</h1>

}
@{
    var repository = new CustomDateTimeRepository();
    var dateTime = repository.CurrentDateTime;
    <p>
        Current -> @dateTime.Current
    </p>
    }





